/* .profile {
  max-width: 600px;
  margin: 0 auto;
} */

.banner {
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 8rem;

  background-color: black;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.profile-info {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: -50px;
  /* padding: 20px; */
}

.profile-picture {
  width: 120px;
  z-index: 2;
  position: relative;
  background: white;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-details h1 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.user-details p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}
.dfg {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
}
.btn {
  font-weight: bold;
  color: gray;
  padding: 5px 10px;
}
.btn:hover {
  background-color: rgb(238, 234, 234);
}
.active-btn {
  font-weight: bold;
  color: black;
}
.p-20 {
  padding: 20px;
}
